body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #034bf2 25%, #fffacd, #3ff702 99%); ;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    height: 260px;
    width: 460px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 9px 6px 3px 0px rgba(1, 245, 237, 0.747);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: 163px;
    left: 62%;
    display: flex;
}

.bar {

    width: 9px;
    height: 9px;
    border: 2px solid white;
    margin: 4px;
    border-radius: 9px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}
