* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #f1062d;
    margin-top: 19px;
    margin-bottom: 11px;
}

p {
    text-align: justify;
    color: #655959;
    margin-bottom: 11px;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    border: 1px solid #2809ef;
    border-radius: 11px;
}

img {
    width: 400px;
    height: 260px;
    object-fit: cover;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.card-content {
    padding: 11px;
}

h2 {
    color: #0da3e8;
    margin-bottom: 6px;
}

ul {
    list-style-type: none;
}

li {
    color: #393131;
    margin-bottom: 6px;
}

button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #d41010;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}

.recipe {
    width: 80%;
    margin: auto;
}

.hidden {
    display: none;
}

label {
    display: block;
    margin-bottom: 6px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f2074d;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .menu {
    list-style: none;
    display: flex;
  }
  .menu li {
    margin-left: 22px;
  }
  .menu a {
    text-decoration: none;
    color: white;
  }