   .cabeçalho{
    background-color: magenta;
   color: blue;
   display:flex
   justify-content : space-around;
}


    .cabeçalho-imagem{
    width: 20%;
      
   
    }
    .cabeçalho-lista-item

